body,
  html {
    margin:0;
    padding:0;
    color:#000;
    background:#a7a09a;
  }
  #wrap {
    width:960px;
    margin:0 auto;
  }

  #header {
    padding:5px 10px;
    background:#fff;
  }
  h1 {
      margin:0;
    }
  #nav {
    padding:5px 10px;
    background:#fff;
    border-top: 1px solid #c0c0c0;
  }
  #nav ul {
    margin:0;
    padding:0;
    list-style:none;
  }
  #nav li {
    display:inline;
    margin:0;
    padding:0;
  }
  #main {
    white-space: normal; 
    float:right;
    width:960px;
    padding:10px; 
    background:#fff;
    border: 1px solid #c0c0c0;
  }

  #main .login { 
  height:100px;
  width:170px;
  margin:auto;
  border:1px #CCC solid;
  padding:10px;
  background-color:#E9E9E9 }

  input { 
    background: #E1FFE1;
    border:1px #CCC solid;
    padding:5px;
  }

  h2 {
    margin:0 0 1em;
  }
  #footer {
    clear:both;
    padding:5px 10px;
    background:#fff;
  }

  #menu-link{
    padding:10px;
  }

  .menu-link{
     background-color: #ddd;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
     border: 1px solid #c0c0c0;
     padding: 5px;
     margin: 5px;
  }

  .menu-link a:link {color: blue; text-decoration:none}
  .menu-link a:visited {color: blue; text-decoration:none}
  .menu-link a:hover {text-decoration:underline; opacity: 0.6; }

  #footer p {
    margin:0;
    }
  * html #footer {
    height:1px;
  }
