 <div class="form-horizontal">

  <div class="form-group">
    <label for="branch-name" class="col-sm-4 control-label">Name : </label>
    <div class="col-sm-8">
      <div ng-model="selectedResource.name">{{selectedResourceOld.name}}</div>
    </div>
  </div>

    <div class="form-group">
    <label for="branch-description" class="col-sm-4 control-label">Url : </label>
    <div class="col-sm-8">
  		<div ng-model="selectedResource.url">{{selectedResourceOld.url}}</div>
    </div>
  </div>

  <div class="form-group">
    <label for="branch-description" class="col-sm-4 control-label">Service Key : </label>
    <div class="col-sm-8">
  		<div ng-model="selectedResource.url">{{selectedResourceOld.serviceKey}}</div>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="addUserDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add User</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" name="fuser">

       	  <div class="form-group">
		    <label for="product-name" class="col-sm-4 control-label"></label>
		    <div class="col-sm-8">
		     <input type="text" class="form-control" id="id" name="id" ng-model="selectedResource.id">
		    </div>
		  </div>

		  	<div class="form-group">
		    <label for="product-name" class="col-sm-4 control-label">User</label>
		    <div class="col-sm-8">
		     <select ng-change="changedUser()" ng-model="selectedResource.users.id" name="user" ng-options="x.id as x.username for x in user" required>
					 <option style="display:none" value="">Select a user</option>
			 </select>
			  <div class="error-container" ng-show="fuser.user.$dirty && fuser.user.$invalid">
			    <small class="error" ng-show="fuser.user.$error.required">Please select user</small>
			  </div>
		    </div>
		  </div>

		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="save()" data-dismiss="modal" ng-disabled="fuser.$invalid">Save</button>
      </div>
    </div>
  </div>
</div>


<table class="table table-bordered table-striped">
	
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Role</th>
			<th>
				<button class="btn" ng-click="create()" data-toggle="modal" data-target="#addUserDialog">
					<span class="glyphicon glyphicon-plus"></span>
					add
				</button>
			</th>
		</tr>
	</thead>

	<tbody>
	    <div ng-repeat="x in resource"></div>
		<tr ng-if="selectedResourceOld.users != null" ng-repeat="u in selectedResourceOld.users">
			<td>{{u.username}}</td>
			<td>{{u.email}}</td>
			<td>admin</td>
			<td>
				<button class="btn" ng-click="edit(x)" data-toggle="modal" data-target="#addUserDialog">
					<span class="glyphicon glyphicon-pencil"></span>
					edit
				</button>
				<button class="btn" ng-click="delete(x)">
					<span class="glyphicon glyphicon-remove"></span>
					delete
				</button>
			</td>
		</tr>
		<tr ng-if="selectedResourceOld.users == null">
			<td colspan="4" style='text-align:center;vertical-align:middle'>No data</td>
		</tr>
	</tbody>

</table>