<h1>Resource List</h1>

<!-- Modal -->
<div class="modal fade" id="addResourceDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add New Resource</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" name="fresource">

		  <div class="form-group">
		    <label for="branch-name" class="col-sm-4 control-label">Name</label>
		    <div class="col-sm-8">
		      <input type="text" class="form-control" id="name" name="name" placeholder="Resource Name" ng-model="selectedResource.name" required>
		      <div class="error-container" ng-show="fresource.name.$dirty && fresource.name.$invalid">
			    <small class="error" ng-show="fresource.name.$error.required">Please input resource name</small>
			  </div>
		    </div>
		  </div>

		    <div class="form-group">
		    <label for="branch-description" class="col-sm-4 control-label">Url</label>
		    <div class="col-sm-8">
		      <input type="text" class="form-control" id="description" name="description" placeholder="Resource url" ng-model="selectedResource.url"/>
		      <div class="error-container" ng-show="fresource.url.$dirty && fresource.description.$invalid">
			    <small class="error" ng-show="fresource.url.$error.required">Please input resource url</small>
			  </div>
		    </div>
		  </div>

		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="save()" data-dismiss="modal" ng-disabled="fresource.$invalid">Save</button>
      </div>
    </div>
  </div>
</div>

<table class="table table-bordered table-striped">
	
	<thead>
		<tr>
			<th>Name</th>
			<th>Url</th>
			<th>Service Key</th>
			<th>
				<button class="btn" ng-click="create()" data-toggle="modal" data-target="#addResourceDialog">
					<span class="glyphicon glyphicon-plus"></span>
					add
				</button>
			</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-if="resource != null" ng-repeat="x in resource">
			<td><a ui-sref="resourceDetail({resourceId:x.id})">{{x.name}}</a></td>
			<td>{{x.url}}</td>
			<td>{{x.serviceKey}}</td>
			<td>
				<button class="btn" ng-click="edit(x)" data-toggle="modal" data-target="#addResourceDialog">
					<span class="glyphicon glyphicon-pencil"></span>
					edit
				</button>
				<button class="btn" ng-click="delete(x)">
					<span class="glyphicon glyphicon-remove"></span>
					delete
				</button>
			</td>
		</tr>
		<tr ng-if="resource == null">
			<td colspan="4" style='text-align:center;vertical-align:middle'>No data</td>
		</tr>
	</tbody>

</table>