<h1>Product List</h1>

<!-- Modal -->
<div class="modal fade" id="addUserDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add New User</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" name="fuser">

		  <div class="form-group">
		    <label for="branch-name" class="col-sm-4 control-label">Name</label>
		    <div class="col-sm-8">
		      <input type="text" class="form-control" id="name" name="username" placeholder="Complete name" ng-model="selectedUser.username" required>
		      <div class="error-container" ng-show="fuser.username.$dirty && fuser.username.$invalid">
			    <small class="error" ng-show="fuser.username.$error.required">Please input complete name</small>
			  </div>
		    </div>
		  </div>

		    <div class="form-group">
		    <label for="branch-description" class="col-sm-4 control-label">Email</label>
		    <div class="col-sm-8">
		      <input type="text" class="form-control" id="description" name="email" placeholder="Email" ng-model="selectedUser.email"/>
		      <div class="error-container" ng-show="fuser.email.$dirty && fuser.email.$invalid">
			    <small class="error" ng-show="fuser.email.$error.required">Please input email</small>
			  </div>
		    </div>
		  </div>

		  	<div class="form-group">
		    <label for="product-name" class="col-sm-4 control-label">Role</label>
		    <div class="col-sm-8">
		     <select ng-change="changedRole()" ng-model="selectedUser.roles.id" name="roles" ng-options="x.id as x.name for x in role" required>
					 <option style="display:none" value="">Select a role</option>
			 </select>
			  <div class="error-container" ng-show="fuser.roles.$dirty && fuser.roles.$invalid">
			    <small class="error" ng-show="fuser.roles.$error.required">Please select role</small>
			  </div>
		    </div>
		  </div>


		   <div class="form-group">
		    <label for="branch-description" class="col-sm-4 control-label">Password</label>
		    <div class="col-sm-8">
		      <input type="password" class="form-control" id="description" name="password" placeholder="Password" ng-model="selectedUser.password"/>
		      <div class="error-container" ng-show="fuser.password.$dirty && fuser.password.$invalid">
			    <small class="error" ng-show="fuser.password.$error.required">Please input password</small>
			  </div>
		    </div>
		  </div>

		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="save(selectedUser)" data-dismiss="modal" ng-disabled="fuser.$invalid">Save</button>
      </div>
    </div>
  </div>
</div>

<table class="table table-bordered table-striped">
	
	<thead>
		<tr>
			<th>Name</th>
			<th>Category</th>
			<th>
				<button class="btn" ng-click="create()" data-toggle="modal" data-target="#addProductDialog">
					<span class="glyphicon glyphicon-plus"></span>
					add
				</button>
			</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="x in products">
			<td>{{x.name}}</td>
			<td>{{x.category.name}}</td>
			<td>
				<button class="btn" ng-click="edit(x)" data-toggle="modal" data-target="#addProductDialog">
					<span class="glyphicon glyphicon-pencil"></span>
					edit
				</button>
				<button class="btn" ng-click="delete(x)">
					<span class="glyphicon glyphicon-remove"></span>
					delete
				</button>
			</td>
		</tr>
	</tbody>

</table>