
        <div class="alert alert-error" ng-show="error">{{errorMessage}}</div>
        <form class="form-horizontal" role="form">

            <div class="form-group">
            <label for="branch-name" class="col-sm-4 control-label">Name</label>
            <div class="col-sm-8">
               <input type="text" id="login_name" ng-model="user.username"
                           placeholder="Login" required min="2">
                </div>
            </div>

            <div class="form-group">
            <label for="branch-name" class="col-sm-4 control-label">Login</label>
            <div class="col-sm-8">
                    <input type="password" id="login_password" ng-model="user.password"
                           placeholder="Password" required min="2">
                </div>
            </div>

            <div class="form-group">
            <label for="branch-name" class="col-sm-4 control-label"></label>
            <div class="col-sm-8">
                    <a href="#" style="margin-right: 20px">Forgot password </a>
                    <button type="button" class="btn btn-primary"
                            ng-disabled="!user.username || !user.password"
                            ng-click="loginUser(user)">Enter</button>    
                </div>
            </div>
        </form>
